doctype html
html(lang='en')
  head
    // inject-style src='demo.css'
  body
    video(width='640', controls='controls')
      source(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4', type='video/mp4')
    p
      a(href=bookmarklet.toString()) Launch Subdirector
