// inject-style src='subdirector.css'
#subdirector
  h2 Subdirector
  .subdirector_buttons
    button.subdirector_button.subdirector_start Mark Start
    |  →
    button.subdirector_button.subdirector_end Mark End
  label(for='subdirector_text') Subtitle
  textarea#subdirector_text
