#subdirector {
  $button-radius: 3px;
  $border-style: 1px solid lightgray;

  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  border: $border-style;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
              0 2px 6px rgba(0, 0, 0, 0.23),
              -2px -2px 2px rgba(0, 0, 0, 0.04);

  * {
    font-family: Rubik;
  }

  h2 {
    margin: 0.5rem 0 0 0;
    font-weight: 400;
    font-size: 0.6rem;
  }

  .subdirector_logo_wrap {
    display: flex;
    flex-direction: column;
  }

  .subdirector_button {
    min-height: 44px;
    border: $border-style;
    background: white;
  }

  .subdirector_start {
    // border-right: none;
    border-radius: $button-radius 0 0 $button-radius;
  }

  .subdirector_end {
    // border-left: none;
    border-radius: 0 $button-radius $button-radius 0;
  }

  #subdirector_text {
    flex: 1;
    border: none;
    border-top: $border-style;
    border-bottom: $border-style;
  }

  .subdirector_logo {
    $background-size: 2rem;
    width: $background-size;
    height: $background-size;
    background-image: url("data:image/svg+xml,%3Csvg width='512' height='512' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill-rule='nonzero' fill='none'%3E %3Cg fill='%23F04E37'%3E %3Cpath d='M288.983 419.551c19.37 0 35.072-15.702 35.072-35.072 0-19.37-15.702-35.072-35.072-35.072v70.144zM105.436 337.078c-26.198 0-47.435 21.237-47.435 47.435 0 26.198 21.237 47.435 47.435 47.435h9.438v-94.869l-9.438-.001z'/%3E %3C/g%3E %3Cpath fill='%237CCCBF' d='M94.457 431.96V502h20.412v-70.028z'/%3E %3Cpath fill='%2354CCFF' d='M172.208 313.988v141.045L288.983 502V266.958z'/%3E %3Cpath fill='%23FFF' d='M244.301 484.029L288.983 502V266.957l-44.682 17.996z'/%3E %3Cpath d='M121.73 70.05v181.136c0 1.824.319 3.571.88 5.205L139.001 240h202.78c7.732 0 14-6.268 14-14v-37l-99.78-135h-118.22c-8.865 0-16.051 7.186-16.051 16.05z' fill='%237CCCBF'/%3E %3Cpath d='M323.334 156V40c0-16.569 13.431-30 30-30h-67.333c-16.569 0-30 13.431-30 30v116c0 16.569 13.431 30 30 30h67.333c-16.568 0-30-13.431-30-30z' fill='%23FFF'/%3E %3Cpath d='M502.001 156V40c0-16.569-13.431-30-30-30H353.334c-16.569 0-30 13.431-30 30v116c0 16.569 13.431 30 30 30h118.667c16.569 0 30-13.431 30-30z' fill='%2354CCFF'/%3E %3Cpath fill='%23F04E37' d='M345.736 58.486L414.176 98l-68.44 39.514z'/%3E %3Cpath d='M244.301 429.859c-2.63 0-5.21 1.07-7.07 2.931-1.86 1.859-2.93 4.439-2.93 7.069 0 2.641 1.07 5.21 2.93 7.07 1.86 1.87 4.44 2.93 7.07 2.93s5.21-1.06 7.07-2.93c1.86-1.86 2.93-4.439 2.93-7.07 0-2.63-1.07-5.21-2.93-7.069-1.86-1.86-4.44-2.931-7.07-2.931z' fill='%23000'/%3E %3Cpath d='M298.983 340.539v-73.582a10 10 0 0 0-4.403-8.287c-2.753-1.859-6.25-2.229-9.333-.989l-172.313 69.397h-55.5c-31.668 0-57.433 25.765-57.433 57.435s25.765 57.435 57.435 57.435h6.609V502c0 5.522 4.477 10 10 10h40.824c5.523 0 10-4.478 10-10v-55.228l160.383 64.506c1.203.484 2.47.723 3.73.723 1.968 0 3.922-.581 5.6-1.714 2.752-1.859 4.401-4.965 4.401-8.286V428.42c20.054-4.563 35.072-22.525 35.072-43.94s-15.018-39.378-35.072-43.941zM20.001 384.513c0-20.642 16.793-37.435 37.435-37.435h47.438l-.004 74.869H57.436c-20.642 0-37.435-16.793-37.435-37.434zM84.045 492v-50.053h20.824V492H84.045zm194.939-4.801l-154.11-61.983V343.83l109.427-44.07V399c0 5.522 4.477 10 10 10s10-4.478 10-10V291.705l24.683-9.941v205.435zm19.999-79.735v-45.97c8.861 3.87 15.072 12.714 15.072 22.985 0 10.271-6.21 19.115-15.072 22.985zM429.453 374.775h-56.618c-5.523 0-10 4.478-10 10s4.477 10 10 10h56.618c5.523 0 10-4.478 10-10s-4.477-10-10-10zM356.419 338.1c2.559 0 5.119-.977 7.071-2.929l19.53-19.53c3.905-3.905 3.905-10.237 0-14.143-3.905-3.904-10.237-3.904-14.143 0l-19.53 19.53c-3.905 3.905-3.905 10.237 0 14.143 1.954 1.952 4.513 2.929 7.072 2.929zM363.571 432.792c-3.905-3.904-10.237-3.904-14.143 0-3.905 3.905-3.905 10.237 0 14.143l20.184 20.184c1.953 1.952 4.512 2.929 7.071 2.929s5.119-.977 7.071-2.929c3.905-3.905 3.905-10.237 0-14.143l-20.183-20.184z' fill='%23000'/%3E %3Cpath d='M472.001 0h-186c-22.056 0-40 17.944-40 40v4h-168c-13.234 0-24 10.767-24 24v158c0 13.233 10.766 24 24 24h10.333v30.667c0 4.045 2.437 7.691 6.173 9.239 1.237.512 2.536.761 3.825.761 2.602 0 5.16-1.016 7.073-2.929L143.143 250h198.638c13.234 0 24-10.767 24-24v-30h106.22c22.056 0 40-17.944 40-40V40c-.001-22.056-17.944-40-40-40zm-126.22 226c0 2.206-1.794 4-4 4h-202.78a10.001 10.001 0 0 0-7.071 2.929l-23.595 23.596V240c0-5.522-4.477-10-10-10H78.001c-2.206 0-4-1.794-4-4V68c0-2.206 1.794-4 4-4h168v92c0 22.056 17.944 40 40 40h59.78v30zm146.22-70c0 11.028-8.972 20-20 20h-186c-11.028 0-20-8.972-20-20V40c0-11.028 8.972-20 20-20h186c11.028 0 20 8.972 20 20v116z' fill='%23000'/%3E %3Cpath d='M419.176 89.34l-68.44-39.514a9.9967 9.9967 0 0 0-10 0c-3.094 1.786-5 5.088-5 8.66v79.027c0 3.572 1.906 6.874 5 8.66a9.984 9.984 0 0 0 5 1.34 9.984 9.984 0 0 0 5-1.34l68.44-39.514c3.094-1.786 5-5.088 5-8.66s-1.905-6.873-5-8.659zm-63.44 30.853V75.807L394.176 98l-38.44 22.193zM214.512 105h-100c-5.523 0-10 4.478-10 10s4.477 10 10 10h100c5.523 0 10-4.478 10-10s-4.477-10-10-10zM214.511 161c-2.63 0-5.21 1.069-7.07 2.93-1.86 1.86-2.93 4.44-2.93 7.07s1.07 5.21 2.93 7.069c1.86 1.86 4.44 2.931 7.07 2.931 2.64 0 5.21-1.07 7.07-2.931 1.86-1.859 2.93-4.439 2.93-7.069s-1.07-5.21-2.93-7.07c-1.86-1.861-4.44-2.93-7.07-2.93zM177.001 161h-62.489c-5.523 0-10 4.478-10 10s4.477 10 10 10h62.489c5.523 0 10-4.478 10-10s-4.477-10-10-10z' fill='%23000'/%3E %3C/g%3E %3C/svg%3E"); //sass-lint:disable-line quotes
    background-size: $background-size;
    align-self: center;
  }

  .visually-hidden {
    // sass-lint:disable no-important
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    // sass-lint:enable no-important
  }
}
