#subdirector {
  $button-radius: 3px;
  $border-style: 1px solid lightgray;

  display: inline-flex;
  flex-direction: column-reverse;
  margin: 0.5rem;
  padding: 0.5rem;
  border: $border-style;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
              0 2px 6px rgba(0, 0, 0, 0.23),
              -2px -2px 2px rgba(0, 0, 0, 0.04);

  :focus {
    outline: 2px solid #54ccff;
  }

  * {
    font-family: 'Work Sans', sans-serif;
  }

  h2 {
    margin: 0 0 0 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 400;
    font-size: 1rem;
  }

  .subdirector_logo_wrap {
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
  }

  .subdirector_ui_wrap {
    display: flex;
  }

  .subdirector_button {
    min-height: 44px;
    border: $border-style;
    background: white;
  }

  .subdirector_button_text {
    display: inline-block;
    font-size: 1rem;
  }

  .subdirector_button_image {
    margin: 0.2rem;
    height: 2rem;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .subdirector_start {
    border-radius: $button-radius 0 0 $button-radius;

    &_image {
      background-image: url("data:image/svg+xml,%3Csvg width='280' height='512' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill-rule='nonzero' fill='none'%3E %3Cpath d='M131.8164 12.5156L7.5 280.0078V504.5h264.6406V280.0078L147.5391 12.5118c-3.1094-6.6837-12.6133-6.6798-15.7227.0038z' fill='%23FED571'/%3E %3Cpath d='M159.746 38.7188l-12.207-26.207c-3.1093-6.6837-12.6132-6.6798-15.7226.0038L7.5 280.0078V504.5h40.1094V280.0078L159.746 38.7188z' fill='%23D89A02'/%3E %3Cpath d='M200.4063 326.8477l-57.8829-44.6407c-1.6797-1.2968-4.0234-1.2968-5.703 0l-57.8868 44.6407c-1.629 1.2578-3.8867 1.2968-5.5586.1054L7.5 280.0078V504.5h264.3438V280.0078l-65.875 46.9453c-1.6758 1.1914-3.9336 1.1524-5.5625-.1054z' fill='%23F04E37'/%3E %3Cpath d='M191.9805 107.9219L147.539 12.5117c-3.1094-6.6836-12.6133-6.6797-15.7227.0078L87.4766 107.922h104.5039z' fill='%235E5E5E'/%3E %3Cpath d='M147.539 12.5117c-3.1093-6.6836-12.6132-6.6797-15.7226.004l-44.3398 95.4062h40.1093l32.1602-69.2031-12.207-26.207z' fill='%23767676'/%3E %3Cpath d='M76.1914 504.5h126.961V327.8164c-.9727-.0234-1.9337-.3437-2.7422-.9687l-57.8868-44.6407c-1.6797-1.2968-4.0195-1.2968-5.703 0l-57.8829 44.6407c-.8086.625-1.7734.9453-2.7422.9687V504.5h-.0039z' fill='%23E58D83'/%3E %3Cpath d='M157.7422 435.8203c0 9.9024-8.0234 17.9258-17.9219 17.9258-9.9023 0-17.9258-8.0234-17.9258-17.9258 0-9.8984 8.0235-17.9219 17.9258-17.9219 9.8984 0 17.9219 8.0235 17.9219 17.922z' fill='%23474747'/%3E %3Cpath d='M209.375 451.4102h-11.3867c-4.1406 0-7.5-3.3594-7.5-7.5 0-4.1446 3.3594-7.5 7.5-7.5h11.3867c4.1445 0 7.5 3.3554 7.5 7.5 0 4.1406-3.3555 7.5-7.5 7.5zM81.6484 451.4102H70.2617c-4.1406 0-7.5-3.3594-7.5-7.5 0-4.1446 3.3594-7.5 7.5-7.5h11.3867c4.1407 0 7.5 3.3554 7.5 7.5 0 4.1406-3.3593 7.5-7.5 7.5z' fill='%23FFF'/%3E %3Cpath d='M278.9375 276.8438l-38.5078-82.6758c-1.75-3.7578-6.211-5.3828-9.9649-3.6328-3.7578 1.75-5.3828 6.2109-3.6328 9.9648l35.8008 76.8633-59.3047 42.2656-56.2265-43.3594c-4.3711-3.375-10.4844-3.375-14.8594 0L76.0156 319.629l-59.086-42.1094L92.2618 115.422h94.9414L214.9531 175c1.75 3.754 6.207 5.3828 9.9649 3.6328 3.7539-1.75 5.3828-6.211 3.6328-9.9648L154.3398 9.3437C151.6563 3.5781 146.0391 0 139.6797 0h-.004c-6.3632.004-11.9804 3.5898-14.66 9.3555L.6991 276.8477c-.0078.0156-.0117.0312-.0195.0468a6.7502 6.7502 0 0 0-.254.6368 1.9418 1.9418 0 0 1-.035.0859 7.552 7.552 0 0 0-.34 1.5469 2.68 2.68 0 0 0-.0155.1836 9.5095 9.5095 0 0 0-.0313.582c0 .0273-.0039.0547-.0039.0781v84.168c0 4.1445 3.3594 7.5 7.5 7.5s7.5-3.3555 7.5-7.5v-69.6133l54.0195 38.496c2.1328 1.5196 4.6016 2.2774 7.0664 2.2774 2.6172 0 5.2266-.8515 7.4297-2.5507l56.1563-43.3047 56.1562 43.3047c4.2735 3.2968 10.0977 3.4062 14.4922.2734l54.3164-38.707V497H15V392.254c0-4.1407-3.3594-7.5-7.5-7.5s-7.5 3.3593-7.5 7.5V504.5c0 4.1406 3.3594 7.5 7.5 7.5h264.6406c4.1406 0 7.5-3.3594 7.5-7.5V280.0078a7.5676 7.5676 0 0 0-.7031-3.164zM138.6172 15.6796c.086-.1875.3164-.6797 1.0625-.6797.746 0 .9766.4922 1.0625.6758l39.4726 84.746H99.2344l39.3828-84.7421z' fill='%23000'/%3E %3Cpath d='M165.2422 435.8203c0-14.0156-11.4024-25.4219-25.4219-25.4219s-25.4258 11.4063-25.4258 25.422c0 14.0194 11.4063 25.4257 25.4258 25.4257 14.0195 0 25.4219-11.4063 25.4219-25.4258zm-35.8477 0c0-5.746 4.6758-10.4219 10.4258-10.4219 5.7461 0 10.4219 4.6758 10.4219 10.422 0 5.75-4.6758 10.4257-10.4219 10.4257-5.75 0-10.4258-4.6758-10.4258-10.4258zM211.1836 422.3867v-11.3906c0-4.1406-3.3594-7.5-7.5-7.5-4.1445 0-7.5 3.3594-7.5 7.5v11.3906c0 4.1406 3.3555 7.5 7.5 7.5 4.1406 0 7.5-3.3594 7.5-7.5zM83.457 422.3867v-11.3906c0-4.1406-3.3593-7.5-7.5-7.5-4.1445 0-7.5 3.3594-7.5 7.5v11.3906c0 4.1406 3.3555 7.5 7.5 7.5 4.1407 0 7.5-3.3594 7.5-7.5z' fill='%23000'/%3E %3C/g%3E %3C/svg%3E");
    }
  }

  .subdirector_end {
    border-radius: 0 $button-radius $button-radius 0;

    &_image {
      background-image: url("data:image/svg+xml,%3Csvg width='512' height='512' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill-rule='nonzero' fill='none'%3E %3Cpath d='M503.916 51.2V369.179c0 5.953-4.826 10.779-10.779 10.779H16.707V40.421H493.137c5.953 0 10.779 4.826 10.779 10.779z' fill='%23F1F1F1'/%3E %3Cpath d='M390.737 153.6H277.558V40.421h113.179V153.6zM40.421 40.421V153.6h123.958V40.421H40.421zM390.737 153.6v113.179h113.179V153.6H390.737zm-226.358 0v113.179h113.179V153.6H164.379zm113.179 226.358h113.179V266.779H277.558v113.179zm-237.137 0h123.958V266.779H40.421v113.179z' fill='%23000'/%3E %3Cpath d='M29.642 503.916c-11.906 0-21.558-9.651-21.558-21.558V29.642c0-11.906 9.651-21.558 21.558-21.558 11.906 0 21.558 9.651 21.558 21.558v452.716c0 11.906-9.651 21.558-21.558 21.558z' fill='%23F04E37'/%3E %3Cpath d='M40.421 501.009c-3.173 1.838-6.848 2.907-10.779 2.907-11.906 0-21.558-9.651-21.558-21.558V29.642c0-11.906 9.651-21.558 21.558-21.558 3.931 0 7.606 1.069 10.779 2.907-6.437 3.73-10.779 10.675-10.779 18.65v452.716c0 7.975 4.342 14.922 10.779 18.652z' fill='%23B6220E'/%3E %3Cpath d='M493.137 32.337H59.284v-2.695C59.284 13.298 45.986 0 29.642 0S0 13.298 0 29.642v452.716C0 498.702 13.298 512 29.642 512s29.642-13.298 29.642-29.642v-94.316h433.853c10.401 0 18.863-8.463 18.863-18.863V51.2c0-10.401-8.463-18.863-18.863-18.863zM43.116 482.358c0 7.43-6.044 13.474-13.474 13.474-7.43 0-13.474-6.044-13.474-13.474V29.642c0-7.43 6.044-13.474 13.474-13.474 7.43 0 13.474 6.044 13.474 13.474v452.716zm452.716-113.179c0 1.486-1.208 2.695-2.695 2.695H59.284V48.505h433.853c1.486 0 2.695 1.208 2.695 2.695v317.979z' fill='%23000'/%3E %3C/g%3E %3C/svg%3E");
    }
  }

  #subdirector_text {
    width: 480px;
    border: none;
    border-top: $border-style;
    border-bottom: $border-style;
    resize: none;
  }

  .subdirector_logo {
    $background-size: 2rem;
    width: $background-size;
    height: 1.3rem;
    background-image: url("data:image/svg+xml,%3Csvg width='440' height='255' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill-rule='nonzero' fill='none'%3E %3Cg fill='%23F04E37'%3E %3Cpath d='M288.983 162.551c19.37 0 35.072-15.702 35.072-35.072 0-19.37-15.702-35.072-35.072-35.072v70.144zM105.436 80.078c-26.198 0-47.435 21.237-47.435 47.435 0 26.198 21.237 47.435 47.435 47.435h9.438V80.079l-9.438-.001z'/%3E %3C/g%3E %3Cpath fill='%237CCCBF' d='M94.457 174.96V245h20.412v-70.028z'/%3E %3Cpath fill='%2354CCFF' d='M172.208 56.988v141.045L288.983 245V9.958z'/%3E %3Cpath fill='%23FFF' d='M244.301 227.029L288.983 245V9.957l-44.682 17.996z'/%3E %3Cpath d='M244.301 172.859c-2.63 0-5.21 1.07-7.07 2.931-1.86 1.859-2.93 4.439-2.93 7.069 0 2.641 1.07 5.21 2.93 7.07 1.86 1.87 4.44 2.93 7.07 2.93s5.21-1.06 7.07-2.93c1.86-1.86 2.93-4.439 2.93-7.07 0-2.63-1.07-5.21-2.93-7.069-1.86-1.86-4.44-2.931-7.07-2.931z' fill='%23000'/%3E %3Cpath d='M298.983 83.539V9.957a10 10 0 0 0-4.403-8.287c-2.753-1.859-6.25-2.229-9.333-.989L112.934 70.078h-55.5C25.766 70.078.001 95.843.001 127.513s25.765 57.435 57.435 57.435h6.609V245c0 5.522 4.477 10 10 10h40.824c5.523 0 10-4.478 10-10v-55.228l160.383 64.506c1.203.484 2.47.723 3.73.723 1.968 0 3.922-.581 5.6-1.714 2.752-1.859 4.401-4.965 4.401-8.286V171.42c20.054-4.563 35.072-22.525 35.072-43.94s-15.018-39.378-35.072-43.941zM20.001 127.513c0-20.642 16.793-37.435 37.435-37.435h47.438l-.004 74.869H57.436c-20.642 0-37.435-16.793-37.435-37.434zM84.045 235v-50.053h20.824V235H84.045zm194.939-4.801l-154.11-61.983V86.83l109.427-44.07V142c0 5.522 4.477 10 10 10s10-4.478 10-10V34.705l24.683-9.941v205.435zm19.999-79.735v-45.97c8.861 3.87 15.072 12.714 15.072 22.985 0 10.271-6.21 19.115-15.072 22.985zM429.453 117.775h-56.618c-5.523 0-10 4.478-10 10s4.477 10 10 10h56.618c5.523 0 10-4.478 10-10s-4.477-10-10-10zM356.419 81.1c2.559 0 5.119-.977 7.071-2.929l19.53-19.53c3.905-3.905 3.905-10.237 0-14.143-3.905-3.904-10.237-3.904-14.143 0l-19.53 19.53c-3.905 3.905-3.905 10.237 0 14.143 1.954 1.952 4.513 2.929 7.072 2.929zM363.571 175.792c-3.905-3.904-10.237-3.904-14.143 0-3.905 3.905-3.905 10.237 0 14.143l20.184 20.184c1.953 1.952 4.512 2.929 7.071 2.929s5.119-.977 7.071-2.929c3.905-3.905 3.905-10.237 0-14.143l-20.183-20.184z' fill='%23000'/%3E %3C/g%3E %3C/svg%3E"); //sass-lint:disable-line quotes
    background-size: $background-size;
    background-repeat: no-repeat;
    align-self: center;
  }

  .visually-hidden {
    // sass-lint:disable no-important
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    // sass-lint:enable no-important
  }
}
