#subdirector {
  $button-radius: 3px;
  $border-style: 1px solid lightgray;

  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  border: $border-style;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
              0 2px 6px rgba(0, 0, 0, 0.23),
              -2px -2px 2px rgba(0, 0, 0, 0.04);

  * {
    font-family: Rubik;
  }

  h2 {
    margin: 0.5rem 0 0 0;
    font-weight: 400;
    font-size: 0.6rem;
  }

  .subdirector_logo_wrap {
    display: flex;
    flex-direction: column;
  }

  .subdirector_button {
    min-height: 44px;
    border: $border-style;
    background: white;
  }

  .subdirector_start {
    // border-right: none;
    border-radius: $button-radius 0 0 $button-radius;
  }

  .subdirector_end {
    // border-left: none;
    border-radius: 0 $button-radius $button-radius 0;
  }

  #subdirector_text {
    flex: 1;
    border: none;
    border-top: $border-style;
    border-bottom: $border-style;
  }

  .subdirector_logo {
    $background-size: 2rem;
    width: $background-size;
    height: 1.3rem;
    background-image: url("data:image/svg+xml,%3Csvg width='440' height='255' xmlns='http://www.w3.org/2000/svg'%3E %3Cg fill-rule='nonzero' fill='none'%3E %3Cg fill='%23F04E37'%3E %3Cpath d='M288.983 162.551c19.37 0 35.072-15.702 35.072-35.072 0-19.37-15.702-35.072-35.072-35.072v70.144zM105.436 80.078c-26.198 0-47.435 21.237-47.435 47.435 0 26.198 21.237 47.435 47.435 47.435h9.438V80.079l-9.438-.001z'/%3E %3C/g%3E %3Cpath fill='%237CCCBF' d='M94.457 174.96V245h20.412v-70.028z'/%3E %3Cpath fill='%2354CCFF' d='M172.208 56.988v141.045L288.983 245V9.958z'/%3E %3Cpath fill='%23FFF' d='M244.301 227.029L288.983 245V9.957l-44.682 17.996z'/%3E %3Cpath d='M244.301 172.859c-2.63 0-5.21 1.07-7.07 2.931-1.86 1.859-2.93 4.439-2.93 7.069 0 2.641 1.07 5.21 2.93 7.07 1.86 1.87 4.44 2.93 7.07 2.93s5.21-1.06 7.07-2.93c1.86-1.86 2.93-4.439 2.93-7.07 0-2.63-1.07-5.21-2.93-7.069-1.86-1.86-4.44-2.931-7.07-2.931z' fill='%23000'/%3E %3Cpath d='M298.983 83.539V9.957a10 10 0 0 0-4.403-8.287c-2.753-1.859-6.25-2.229-9.333-.989L112.934 70.078h-55.5C25.766 70.078.001 95.843.001 127.513s25.765 57.435 57.435 57.435h6.609V245c0 5.522 4.477 10 10 10h40.824c5.523 0 10-4.478 10-10v-55.228l160.383 64.506c1.203.484 2.47.723 3.73.723 1.968 0 3.922-.581 5.6-1.714 2.752-1.859 4.401-4.965 4.401-8.286V171.42c20.054-4.563 35.072-22.525 35.072-43.94s-15.018-39.378-35.072-43.941zM20.001 127.513c0-20.642 16.793-37.435 37.435-37.435h47.438l-.004 74.869H57.436c-20.642 0-37.435-16.793-37.435-37.434zM84.045 235v-50.053h20.824V235H84.045zm194.939-4.801l-154.11-61.983V86.83l109.427-44.07V142c0 5.522 4.477 10 10 10s10-4.478 10-10V34.705l24.683-9.941v205.435zm19.999-79.735v-45.97c8.861 3.87 15.072 12.714 15.072 22.985 0 10.271-6.21 19.115-15.072 22.985zM429.453 117.775h-56.618c-5.523 0-10 4.478-10 10s4.477 10 10 10h56.618c5.523 0 10-4.478 10-10s-4.477-10-10-10zM356.419 81.1c2.559 0 5.119-.977 7.071-2.929l19.53-19.53c3.905-3.905 3.905-10.237 0-14.143-3.905-3.904-10.237-3.904-14.143 0l-19.53 19.53c-3.905 3.905-3.905 10.237 0 14.143 1.954 1.952 4.513 2.929 7.072 2.929zM363.571 175.792c-3.905-3.904-10.237-3.904-14.143 0-3.905 3.905-3.905 10.237 0 14.143l20.184 20.184c1.953 1.952 4.512 2.929 7.071 2.929s5.119-.977 7.071-2.929c3.905-3.905 3.905-10.237 0-14.143l-20.183-20.184z' fill='%23000'/%3E %3C/g%3E %3C/svg%3E"); //sass-lint:disable-line quotes
    background-size: $background-size;
    background-repeat: no-repeat;
    align-self: center;
  }

  .visually-hidden {
    // sass-lint:disable no-important
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    // sass-lint:enable no-important
  }
}
